.todolist-wrpper{
    background-color: #eee;margin: 0px -24px;padding: 48px 24px;
    section{
        background-color: #fff;border-radius: 8px;;padding: 24px;
        > div{text-align: left;}
    }
}